.header {
  height: 40%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  color: white;
  h2 {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 3.75rem;
    line-height: 1.2;
    letter-spacing: 1px;
  }
  h6 {
    font-size: 0.75rem;
  }
}
.banner {
  background-image: url("../../assets/crypto-currency-horizontal-banner-bitcoin-digital-web-money-technology_48369-13318.webp");
  height: 400px;
  width: 100%;
}
.sub-header {
  height: 50%;
  display: flex;
  align-items: center;
}

.row {
  gap: 50px;
  flex-wrap: nowrap;
}

.card {
  border: 0;
  color: white;
  background: transparent;
  text-align: center;
  width: 100px;
  height: 200px;
  img {
    width: 70px;
    margin: 0 auto;
    @media (max-width: 500px) {
      width: 30px;
    }
  }

}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.card-title {
  @media (max-width: 500px) {
    font-size: 10px;
  }
}

td, th {
  width: 25%;
  cursor: pointer;
}
