<p>
  <mat-toolbar>
    <a class="button"
       routerLink="coin-list"
       routerLinkActive="activeButton"
       >Bitcoin Checker</a>
    <span class="example-spacer"></span>
    <mat-form-field>
      <mat-select
        (valueChange)="sendCurrency($event)"
        [(ngModel)]="selectedCurrency"
      >
        <mat-option [value]="'USD'">USD</mat-option>
        <mat-option [value]="'UAH'">UAH</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-toolbar>
</p>
<router-outlet></router-outlet>
